:root{
    --primary-font: 'Roboto', sans-serif;
    --cloud-color: #F4F4FD;
    --navy-color: #2E2F42;
    --white-color: #FFFFFF;
}

body{
    font-family: var(--primary-font);
    color: #434455;
    background-color: var(--white-color);   
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    }

.logo-accent-color{
    color: #2e2f42
}

.link{
    text-decoration: none;
}

.link:focus,
.link:hover{
    color: #404bbf;
}


/* Navigation */
.list{
    list-style: none;
    
}

.list-style{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-color);    
}

.list:hover,
.list:active{
    text-decoration: underline;
}


/* Contact */
.contact-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    
}
.contact-style a{
    text-decoration: none;
    color: #434455;
}

.contact-style:hover{
    text-decoration: underline;
}

/* Main content */
/* Title h1 */
.title-main{
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
    color: white;
    background-color: #2E2F42;
    text-align: center;
}

/* Benefits */
.benefits-style{
    font-size: 20px;
    letter-spacing: 2%;
    list-style: none;
}

.benefits-style p{
    font-size: 16px;
}

/* About us */
.about-us-style,
.team-style{
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 2%;
    text-transform: capitalize;   
}


.team-style h3{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
    text-align: center;
}

.team-style p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    text-align: center;
}

.cloud-bg{
    background-color: var(--cloud-color);
}

.filter-button-style{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
}

footer {
    color: #F4F4FD;
    background-color: #2E2F42;
}
